@font-face {
  font-family: "Onest";
  src: url("../shared/fonts/onest/Onest-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
}

.onest-global {
  font-family: "Onest";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}