.wrapper-lending {
    display: flex;
    width: 100%;
}

.wrapper-center {
    width: 100%;
    display: flex;
}

.left {
    width: 400px;
    height: 100%;
}

.right {
    width: calc(100% - 400px);
    height: 100%;
}